@import url('../../theme.scss');

.search_div{
    width: 50%;
    height: 25px;
    border-radius: 6px;
    outline: none;
    border: 1px solid var(--border); 
    padding: 5px 10px;
    display: flex;
    align-items: center;

    input{
        width: 95%;
        margin-right: 5px;
        outline: none;
        border: none;
        color: var(--text-color);
        background: transparent;
    }

    >img{
        cursor: pointer;
    }
}