
.home_container{
    padding: 0px 20px;
    // width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Kanit';
    color: var(--text-color);

    .input_div{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;

        >select{
            background-color: #6C63FF !important;
            color: white;
            border-radius: 7px;
            padding: 0px 10px;

            >option{
                background-color: white !important;
                color: #6C63FF;
            }
        }

        .mode_img{
            width: 40px;
            background-color: #6C63FF;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            cursor: pointer;
        }
    }

    .todos_div{
        width: 66%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        .todos_ul{
            width: 60%;
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
             
            @media (max-width: 768px) {
                width: 80%;
            }

            @media (max-width: 500px) {
                width: 100%;
            }


            >li{
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 20px;
                display: flex;
                justify-content: space-between;

               .first_span{
                 >input{
                    accent-color: #6C63ff;
                      transform: scale(1.5);

                      @media (max-width: 500px) {
                        width: 50px !important;
                      }
                }
               }

                >span{
                    display: flex;
                    gap: 10px;
                }

                .icons{
                    color: gray;
                    display: none;
                    >span{
                        cursor: pointer;
                    }
                }

                &:hover{
                    .icons{
                        display: flex;
                        gap: 20px;
                        transition: 0.3s ease-in-out all;
                    }
                }
            }

            .not_found{
                display: flex;
                justify-content: center;
            }
        }
    }

    .add_btn_div{
        height: 40vh;
        width: 65%;
        display: flex;
        align-items: end;
        justify-content: end;

        .add_btn{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #6C63FF;
            color: white;
            border: none;
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: x-large;
            cursor: pointer;
        }
    }

}